[2013-11-14 20:31] sudorandom opened #1 "Templated catalog"
I believe we should make the identity module grab the catalog information from a config file similarly to how keystone represents their templated backend, for example: https://github.com/openstack/keystone/blob/master/etc/default_catalog.templates.

This would prevent the need to hard code anything and allow much more configurability to our simple identity imitation.

[2013-11-14 20:39] sudorandom opened #2 "Add unit tests for generalized jumpgate code"

[2013-11-14 20:44] sudorandom opened #3 "Downgrading to Python 2.7"
Due to the current state of eventlet and gevent, it appears that the best deployment strategy at the moment (evented: http://docs.gunicorn.org/en/latest/design.html#choosing-a-worker-type) has to involve Python 2.7. However, Jumpgate currently exclusively works with Python 3.

I don't believe we're using too much that is exclusive to Python 3.3 currently. The biggest things that come to mind are:

[2013-11-14 20:54] sudorandom opened #4 "createImage is (extremely) blocking"
The issue here is that when Virtual_Guest::createArchiveTransaction is called, it returns a transaction instead of an empty blockdevicetemplategroup with an identifying global identifier. This is an issue because the call to create an image from a running server expects to get back a global identifier for the image which it can look up the status of, similarly to how CCIs are provisioned. Currentl

[2013-11-14 21:00] sudorandom opened #5 "Add basic network support"
- Listing VLANs
- Listing Subnets.
- VLAN detail
- Subnet detail
- ???

There's a lot of discovery to do for this for the actual functionality. The [network manager](https://github.com/softlayer/softlayer-python/blob/master/SoftLayer/managers/network.py) is a good start as far as seeing what the SoftLayer API supports (and how) and, as always, the [API docs for OpenStack projects](http://api.opens

[2013-11-14 21:01] sudorandom opened #6 "Import images via URL"

[2013-11-14 21:03] sudorandom opened #7 "Allow drivers to add extensions to the API to be displayed in extension API call"

[2013-11-14 21:05] sudorandom opened #8 "Proper logging"
Right now we print in order to display request events. Normally this is handled by a legit server like HAProxy or Apache but for development and production debugging we need to leverage python's logging more.

[2013-11-14 21:06] sudorandom opened #9 "Add unit test helpers/unit tests for SoftLayer drivers"
To best test this, I feel like re-using the fixtures defined in the softlayer/softlayer-python project is best. Unfortunately, they're not yet in a place where they can easily be exported. This issue might require that to happen.

[2013-11-14 21:07] sudorandom opened #10 "Add ability to record SoftLayer API calls w/ response times"
Since Jumpgate will add one more layer on top of the SoftLayer API, latency and responsiveness is a concern of mine for the project. In the softlayer-python bindings there exists a TimedClient, which times each API call made using that client.

My idea for this feature is to used SoftLayer.TimedClient for API calls and report on API calls in an after hook if debugging is enabled. With that informa

[2013-11-14 21:10] sudorandom opened #11 "Exception handler"
We either need to do one of the following:
- implement this: https://github.com/racker/falcon/issues/55
- find another solution for handling exceptions. The current method is wrapping everything in a try-except block in a very flat way or to figure out how to layer on our own exception handler independent of Falcon

[2013-11-14 21:11] sudorandom opened #12 "Consider Starting Bare Metal/Ironic support"

[2013-11-14 21:15] sudorandom opened #13 "Re-implement instance actions"
The current implementation uses lastTransaction and activeTransaction in order to get up to two 'events' that have happened on a VM. This might pass some tests but ultimately is not useful at all for auditing/debugging. A new implementation could use [SoftLayer_Event Log](http://sldn.softlayer.com/reference/datatypes/SoftLayer_Event_Log) in order to provide this information. There are some comment

[2013-11-14 21:23] sudorandom opened #14 "Quantify tooling compatibility"
1. Document what tools exist for Openstack and determine the most common API calls
2. Determine the range of support for each of these tools and document caveats when using Jumpgate with the SoftLayer driver.
- [Language Bindings/CLI Clients](http://docs.openstack.org/developer/language-bindings.html)
- Other Integrations/Tooling
  - [Vagrant-openstack](https://github.com/FlaPer87/vagrant-openstac

[2013-11-15 22:20] sudorandom commented on #11
Yesterday I submitted a possible implementation of this. It adds a small amount of conditional blocks to that method to make it go past the complexity limit so something probably has to change with it... However, I think it's a fairly simple implementation.

See here: https://github.com/racker/falcon/pull/202

[2013-11-18 15:40] beittenc commented on #1
Agreed. This should be easy enough to do using the driver.conf if we want.

[2013-11-18 17:09] beittenc commented on #2
+1

[2013-11-19 14:09] beittenc commented on #3
There are also some notes in the documentation that specifically reference Python 3.3, so we'll need to update that as well.

[2013-11-19 14:30] beittenc commented on #4
Perhaps there are some API calls I haven't found that could be used to take the transaction ID and get back the GUID sooner. It would also make the entire process a bit less error prone since it currently relies upon some assumptions.

[2013-11-19 14:31] beittenc commented on #5
The NetworkManager has a lot of code for interacting with the API, so this should just be a matter of figuring out how we want to add the support for OpenStack.

[2013-11-19 16:38] beittenc commented on #7
Could you elaborate more on what you're envisioning? This may be supportable already.

[2013-11-19 16:42] sudorandom commented on #7
I'm actually not sure.

I think I was referring to how the extensions endpoint is hard-coded. I might have been thinking of making a general extension class(s) (to be mounted at `/v2/{tenant_id}/extensions` and `/v2/{tenant_id}/extensions/{alias}`) that any driver could use.

[2013-11-19 16:44] sudorandom commented on #7
I may have also temporarily forgotten that extensions are service-specific. Nova has its own; keystone has its own. So we might just want to abandon this issue altogether.

[2013-11-21 13:54] sudorandom commented on #2
This has been done. Core/reused Jumpgate code is at 100% now.

[2013-11-21 13:54] #2 closed, assigned to sudorandom

[2013-11-21 13:54] sudorandom commented on #8
Completed.

[2013-11-21 13:54] #8 closed, assigned to nobody

[2013-11-21 13:57] sudorandom commented on #3
Finished.

[2013-11-21 13:57] #3 closed, assigned to nobody

[2013-11-21 13:57] #7 closed, assigned to nobody

[2013-11-21 21:30] sudorandom opened #15 "MVP"

[2013-11-21 21:31] #15 closed, assigned to nobody

[2013-11-22 04:57] sudorandom commented on #1
This has been implemented in the latest commit. Some of the code is adopted from keystone for this.

[2013-11-22 04:57] #1 closed, assigned to sudorandom

[2013-12-05 17:32] caleorourke opened #16 "Update styles/scripts to Bootstrap 3.0.3"
**Request**
- Update core bootstrap styles and scripts to [Bootstrap 3.0.3](http://blog.getbootstrap.com/2013/12/05/bootstrap-3-0-3-released)
- This includes:
  - css > bootstrap.min.css
  - scripts > affix.js
  - scripts > application.js
  - scripts > bootstrap.min.js
  - scripts > collapse.js
  - scripts > holder.js
  - scripts > scrollspy.js

**Acceptance Criteria**
- Verify that the new bootst

[2013-12-09 17:29] sudorandom commented on #11
Movement is going on this, but it looks like it won't be in time for the first milestone. No worries though, I'm moving it to the second one.

[2014-01-09 21:58] sudorandom opened #17 "Debug Config Option"
Allow the logging level to be set and/or have a debug option which spews debug information. Getting the SoftLayer API request/response chain is fairly important for this.

[2014-01-09 22:04] sudorandom opened #18 "Pinned requirements.txt file"
This would be used for testing and deploying.

[code]

[2014-01-17 17:44] bodenr opened #19 "requirements.txt should include softlayer-python"
If you follow the install instructions for jumpgate (http://softlayer.github.io/jumpgate/get-started/) you still need to manually install the softlayer-python package (i.e. pip install softlayer). It seems this should be included in the requirements.txt rather than having the user manually determine its missing and have to install it separately.

[2014-01-17 23:11] sudorandom commented on #19
This is resolved by 56b214fa5c90f1c5827b69254c5b3c1830520727

[2014-01-17 23:11] #19 closed, assigned to nobody

[2014-01-17 23:14] #18 closed, assigned to nobody

[2014-01-20 17:16] bodenr opened #20 "REST API support for GETting supported versions per service endpoint"
All of the OpenStack REST APIs I've worked with allow a REST API consumer to query they root URI (i.e. http://host:<port>/) to obtain information about the supported REST API versions for the endpoint.

For example in keystone paste ini: https://github.com/openstack/keystone/blob/master/etc/keystone-paste.ini#L85

The other services such as nova, cinder, etc. support this as well.

Although the op

[2014-01-20 17:31] bodenr opened #21 "jumpgate identity token is not secure"
Based on what I'm seeing right now, the token generated by the jumpgate layer is unsecure as it contains the plain text SL username and API token...

Source is here: https://github.com/softlayer/jumpgate/blob/master/jumpgate/common/sl/auth.py#L26

This results in a plan text token as `my_sl_username:my_sl_api_key`... Although this is transferred over the wire via HTTP headers and should be via SSL

[2014-01-20 20:04] sudorandom commented on #20
I agree. By default, the identity driver is anchored to root, so an endpoint that responds similarly to public_version_api in keystone should respond to that request. I believe that was overlooked since it is not included in the reference docs here: http://api.openstack.org/api-ref-identity.html

[2014-01-20 21:18] bodenr opened #22 "identity support for validate token"
A number of the openstack components/CLIs expect to be able to validate a token using `GET /vX.Y/tokens/{tokenId}`. This is used when the consumer has a reference to an identity token, but they want to make sure it's still valid.. See: http://docs.openstack.org/api/openstack-identity-service/2.0/content/GET_validateToken_v2.0_tokens__tokenId__Token_Operations.html

Currently jumpgate does not supp

[2014-01-20 21:21] beittenc commented on #22
Jumpgate itself does support that endpoint: https://github.com/softlayer/jumpgate/blob/master/jumpgate/identity/__init__.py#L98

Are you specifically requesting that the SoftLayer driver be modified to attach to that endpoint?

[2014-01-20 21:53] bodenr commented on #22
Yes I'm requesting that the SL driver support that endpoint.

[2014-01-20 22:11] sudorandom commented on #21
While it's true that the hostname part of a URL is typically transmitted un-encrypted via DNS, the path part of the URL should not be. For HTTPS, the TLS encryption happens before any HTTP requests happen[1].

As for using the username/api token as the actual auth token, I agree. It's not optimal at all but in order to avoid Jumpgate itself from having state, this is something I believe should ult

[2014-01-21 01:28] bodenr commented on #21
thanks for the prompt response...
+1 for the secret key mitigation.

[2014-01-27 15:08] #21 closed, assigned to nobody

[2014-01-27 15:08] #22 closed, assigned to nobody

[2014-01-27 17:06] bodenr opened #25 "flavors returns 2 identical flavors with id "1""
If you setup jumpgate + novaclient and then do a `nova flavor-list` you get the following flavors back:

[code]

Notice how there are 2 identical flavors with id `1`.

I didn't poke at this, but likely due to [FLAVORS[None] = FLAVORS[1]](https://github.com/softlayer/jumpgate/blob/master/jumpgate/compute/drivers/sl/flavors.py#L41)

[2014-01-27 17:44] sudorandom commented on #25
Thanks for the detail. This is an extremely easy fix.

[2014-01-27 17:50] bodenr opened #27 "jumpgate compute flavor 'disk' better maps to 'OS-FLV-EXT-DATA:ephemeral'"
I was munking with jumpgate + novaclient and creating some CCIs based on the flavors provided by the jumpgate support.

Based on what I'm seeing, the CCIs created via jumpgate are always created with LOCAL storage in SL... So for example:

[code]

I will get a CCI with LOCAL storage. Best I can tell SAN storage is not an option via jumpgate, but maybe I missed it.

Based on the OpenStack construct

[2014-01-27 18:44] beittenc commented on #25
Closed by #26

[2014-01-27 18:44] #25 closed, assigned to nobody

[2014-01-27 23:25] sudorandom commented on #27
I think you're right about local disks (SL) being comparable to ephemeral disks (OS). The only thing that doesn't match is "Ephemeral disks are not included in any snapshots.". That's not true for SL, as far as I know. Do you think SAN disks would map better to 'disk'?

My plan now is to basically double the amount of flavors, one half SAN disks and the other half local disks. Personally, I wish t

[2014-01-28 00:51] #20 closed, assigned to nobody

[2014-01-28 00:52] sudorandom commented on #11
Completed in #23

[2014-01-28 00:52] #11 closed, assigned to sudorandom

[2014-01-28 14:53] bodenr commented on #27
after a little more digging, i'm starting to think maybe `disk` is in fact the proper conceptual mapping here (in contrary to my creation of this issue).

as i (now) understand, OpenStack flavors map as follows:
`disk` -->  the size of the boot disk in the guest.. this is LOCAL storage equivalent to the rootfs.
`ephemeral` --> the size of a secondary LOCAL disk to mount in the guest... the key her

[2014-01-31 17:05] sudorandom opened #28 "Support for SL Object Storage"
SoftLayer's Object Storage uses swift itself, so the actual API wouldn't need to be emulated. What would be nice to be emulated is keystone-like authentication for SoftLayer's Object Storage instead of the swift 1.0-style authentication that is currently used.

The primary issue with doing this is that Object Storage accounts don't map 1-to-1 with SoftLayer accounts. One SoftLayer account could ha

[2014-02-03 23:06] sudorandom opened #29 "Identity v3 API"
This issue is to track project on implementing the V3 keystone API. This is mostly covered by the [API reference site](http://api.openstack.org/api-ref-identity.html). This will only cover porting existing functionality in Jumpgate to the V3 version. Which endpoints are implemented is documented on the [jumpgate documentation site](http://softlayer.github.io/jumpgate/developer-guide/#identity).

[2014-02-04 16:39] #14 closed, assigned to nobody

[2014-02-05 15:02] #13 closed, assigned to sudorandom

[2014-02-05 18:27] bodenr opened #31 "add support for server user_data"
Right now, the SL controller for 'servers' [knows how to handle](https://github.com/softlayer/jumpgate/blob/master/jumpgate/compute/drivers/sl/servers.py#L186) `metadata` as passed in via a server boot command. This obviously gets created a CCI user metadata on the provision call in SL.

I would like to propose that support is added for `user_data` in the same manner.

Obviously the translation fr

[2014-02-05 18:30] bodenr opened #32 "add support for server personality (files)"
Right now, the SL controller for 'servers' [knows how to handle](https://github.com/softlayer/jumpgate/blob/master/jumpgate/compute/drivers/sl/servers.py#L186) `metadata` as passed in via a server boot command. This obviously gets created a CCI user metadata on the provision call in SL.

I would like to propose that support is added for `personality` in the same manner.

Obviously the translation

[2014-02-05 20:37] #32 closed, assigned to nobody

[2014-02-05 20:37] #31 closed, assigned to nobody

[2014-02-07 16:50] bodenr commented on #27
@sudorandom -- did you have a chance to digest this one? I may have some bandwidth early next week to push something if we can come to a consensus on the impl.

[2014-02-07 17:20] sudorandom commented on #27
Sorry, I haven't responded to this yet mostly because I agreed with all of the concepts. There's only one nit-pick that I have:
- Instead of SL-DISK-TYPE, I think OS-FLV-DISK-TYPE: (SAN | LOCAL) might go along with the naming scheme for extensions with flavor attributes. Precedent: http://api.openstack.org/api-ref-compute-ext.html#os-flv-disabled. I think either way, it would be beneficial to do t

[2014-02-13 13:53] bodenr opened #35 "basic identity admin_token support"
OpenStack keystone provides the notion of an `admin_token` which is effectively a shared secret between keystone and other openstack services. Many services integrating with keystone internally use the `admin_token` to make internal calls to keystone on behalf of the user - for example to validate a user token (ex see [here](https://github.com/openstack/trove/blob/master/etc/trove/api-paste.ini#L2

[2014-02-13 15:08] beittenc commented on #35
Resolved by #36

[2014-02-13 15:08] #35 closed, assigned to nobody

[2014-02-13 22:05] bodenr opened #37 "server id not returned as string"
nova servers should have their id property returned as a string. see sample server response here: http://api.openstack.org/api-ref-compute.html

however in the current jumpgate code its returned as a number... over the wire in json it does not have quotes around it and thus is marshalled into a 'number' on the client side... this causes problems for some code as the code expects the server.id to b

[2014-02-13 22:11] bodenr opened #39 "servers should have a user_id"
as per the nova server response, a server json should have a `server.user_id` which is the creator of the server (as I understand). See sample response here: [http://docs.openstack.org/api/openstack-compute/2/content/List_Servers-d1e2078.html](http://docs.openstack.org/api/openstack-compute/2/content/List_Servers-d1e2078.html)

Is this something we can get from the SLAPI?? If possible maybe jumpga

[2014-02-13 22:19] ghost opened #40 "Issues creating a server with a specified network"
Having issues creating a server with a specific network. Is that supported?

I keep getting RESP BODY: {"badRequest": {"message": "Invalid network", "code": "400"}}
I'm using the network id returned from nova net-list or neutron net-list.

[2014-02-13 22:20] #37 closed, assigned to nobody

[2014-02-13 22:21] beittenc commented on #39
We actually have a user ID as well as a user name. I don't think there's any harm in doing that so we remain consistent with native OpenStack.

[2014-02-13 22:36] sudorandom commented on #39
Here's the long, winding path to get the id of the user who created the CCI.

[code]

Example: https://gist.github.com/underscorephil/7882974

[2014-02-13 22:44] bodenr commented on #39
@sudorandom this data is not currently exposed in the SL py client is it? just took a quick look but maybe I missed it.

[2014-02-13 22:50] sudorandom commented on #39
Not easily. You would add what I added above to the mask for the API call. I.E.: https://github.com/softlayer/jumpgate/blob/master/jumpgate/compute/drivers/sl/servers.py#L472

Then you'd be able to access it with `obj['billingItem']['orderItem']['order']['userRecordId']`, or, with using  lookup() (https://github.com/softlayer/softlayer-python/blob/master/SoftLayer/utils.py#L21) `lookup(obj, 'billi

[2014-02-13 23:02] sudorandom commented on #40
Hm.. I need to think about how to better support this. Currently, only 'public' and 'private' are supported as a network[0]. The networks you see in `nova net-list` are actually your SoftLayer subnets [1]. I'm now thinking that VLANs might be more appropriate for the net-list call and instead of specifying private and public you would specify which VLAN the CCI should be placed in.

[0] - https://

[2014-02-14 00:05] anasouma commented on #40
Right, neutron net-list seems to be returning correctly... a list of vlans and the subnets under them...
neutron subnet-list returns the subnets...
I agree, it would be good to pass in the vlan to deploy to. even if there are more than one subnet in that vlan, let the system automatically pick up the subnet...

I also just noticed that the sl cci create command line doesn't allow specifying the vl

[2014-02-14 00:20] anasouma opened #41 "User locked"
Hello, any thoughts on what could cause this error?

{"computeFault": {"message": "SoftLayer_Exception_User_Customer_AccountLocked", "code": "500", "details": "Account has been locked for 30 minutes."}}

Seems to happen on all my nova clis against jumpgate... but I can run the sl cli fine using the same account.

[2014-02-14 00:24] sudorandom commented on #41
I just started getting the same thing too. I suspect that has something to do with the API. It works if you put your API key as OS_PASSWORD instead of a password.

[2014-02-14 00:29] anasouma commented on #41
Good call, that did it!

[2014-02-14 10:52] bodenr commented on #39
@sudorandom and @beittenc thanks for the tips. However at current I'm unable to get this working. I've tried various masks using both dotted notation as well as bracket notation. In all cases I can only get back the top level `billingItem` data. Admittedly I'm not that familiar with the SLAPI so likely I'm missing something basic here.

[2014-02-14 14:05] beittenc commented on #39
@bodenr I think passing it in as a list like this should work, though I haven't tested yet.

mask=['billingItem', 'billingItem.orderItem', 'billingItem.orderItem.order', ''billingItem.orderItem.order.userRecordId']

[2014-02-14 14:32] sudorandom commented on #39
@bodenr I think it's most likely a permissions issue. From my testing it looks like only the master user has access to see details  of an order item from a billing item. That seems really arbitrary to me but that's the behavior I see and I suspect it's intended.

[2014-02-14 15:11] bodenr commented on #39
guys thanks for the prompt responses...

@sudorandom -- re permissions; so the master user is effectively the "account owner"... i.e. there is no way I can grant this permission to a standard account user?

my current thought is that I can code this up to try and get the user id, and if for some reason it can't be gotten the server response will contain a null `user_id`. Not the most glorious solu

[2014-02-14 16:09] bodenr commented on #39
fyi -- was able to get account owner id/key... the idea presented in my previous comment works and you will see the user_id if the user/key has proper auth... moving forward with change -- PR soon.

[2014-02-14 16:32] bodenr commented on #39
implemented in https://github.com/softlayer/jumpgate/pull/42  ... closing

[2014-02-14 16:32] #39 closed, assigned to nobody

[2014-02-15 02:17] sudorandom commented on #41
I created an internal issue about this. Closing this as it isn't a jumpgate-specific issue.

[2014-02-15 02:17] #41 closed, assigned to nobody

[2014-02-15 04:23] ghost commented on #41
Agreed, thanks Kevin.

[2014-02-16 12:25] bodenr opened #43 "auth does not validate tenant id to account id"
In the current [authN](https://github.com/softlayer/jumpgate/blob/master/jumpgate/common/sl/auth.py#L30) in jumpgate, there is no validation that the given `tenantId` in the authN request body matches the account id in softlayer. As a result I can use a tenant_id in the openstack clients which has no relation to my SL account and authN just fine if my userid and password (or api key is valid). In

[2014-02-17 17:43] beittenc commented on #43
Closed by #44

[2014-02-17 17:43] #43 closed, assigned to nobody

[2014-02-18 16:39] sudorandom commented on #9
This might possibly benefit from the fixtures that currently exist in the python-softlayer library. Maybe the fixtures (and possible an API that serves up the fixtures) would be good for a separate project?

[2014-02-19 10:29] bodenr opened #45 "Support CCI instance resize"
The ability to resize an instance (CCI) is an important aspect to managing compute. This feature is obviously supported in native nova instances, but no such support exists in jumpgate.

This issue/enhancement is intended to track that support -- adding the ability to resize a CCI a la jumpgate.

Related issues: [softlayer py client upgrade](https://github.com/softlayer/softlayer-python/issues/266

[2014-02-19 16:09] anasouma opened #46 "Incorrect VM state when Deleting"
Hi,
I'm noticing when i delete my VM, it goes to a BUILD state then to a SHUTOFF state. That Build state is confusing and probably should not be there.

Wissam

[2014-02-19 17:05] bodenr opened #47 "pluggable token auth driver support"
I would like to make jumpgate [authN & token generation](https://github.com/softlayer/jumpgate/blob/master/jumpgate/common/sl/auth.py#L30) pluggable which would permit schemes like facaded authN whereupon we authN POST token requests against a non-SLIAPI service and then perform SLAPI "run as" operations on behalf of the user.

The scheme I was thinking is as follows:
- Create a 'TokenAuthDriver'

[2014-02-19 17:21] beittenc commented on #46
Discussed with @sudorandom real quick to confirm. We'll look into it, but I'm not sure there's going to be anything we can do. Because Jumpgate is stateless, we only have point in time information about what the SoftLayer API sends back and we have to make some assumptions based upon that data. The best fit for some of those scenarios is the BUILD state, which causes confusion here. Unfortunately,

[2014-02-27 10:10] aparnapatil opened #51 "Image Metadata support"
currently, SL image driver does not support image metadata feature. we can support this  feature by using Tags or notes fields of Block_Device_Template_Group. But there are some pros and cons of these approaches from Softlayer side. The maximun length of tag field is only 20 characters. But once set, only authorized user can edit this. however notes field do not have such limitation on size of cha

[2014-02-27 10:20] amol opened #52 "Supporting OS-EXT-IPS:type For SoftLayer Driver"
When user gets the details of the server (VM) she invokes

[code]

The current SL driver responds with both `primaryBackendIpAddress` and `primaryIpAddress` [1]. However, there is no way to differentiate between them.

By using `OS-EXT-IPS:type` [2] we can let user determine which one is which (private or public). Many services expects `fixed` for internal IP. We can use that and for primaryIpAddr

[2014-02-27 14:44] beittenc commented on #51
I don't think using tags for this is the right solution. It's going to present limitations, which means we're going to have to continually invent or maintain workarounds in order to imitate the OpenStack functionality. That's not going to be a winning solution in the long run. Instead, we're going to open an internal issue requesting that metadata functionality be added to images on the SoftLayer

[2014-02-27 14:44] #51 closed, assigned to nobody

[2014-02-27 16:44] bodenr commented on #47
implemented via https://github.com/softlayer/jumpgate/pull/48

closing

[2014-02-27 16:44] #47 closed, assigned to nobody

[2014-02-28 20:45] bodenr opened #55 "identity tokens contain non-url chars + pipeline does not support unauth'd GET /tokens/{id}"
With the latest identity changes there are 2 bugs:
- Tokens can be generated which are non-url friendly. This impacts the consumers ability to use the token on a GET /tokens/{token_id} call.
- The API pipeline should allow unauthenticated calls to GET /tokens/{token_id} to validate an existing token

[2014-02-28 21:08] #55 closed, assigned to nobody

[2014-03-05 08:23] amol opened #57 "Token Using Token"
As per the API [1], token can be created using tokes which are generated earlier. A pull request #50 submitted, earlier for  this issue, which was waiting for merge  #48. Now that #48 has been merged we can modify it to allow create tokens based on older tokens.

[1] http://api.openstack.org/api-ref-identity.html#identity-v2

[2014-03-05 10:10] aparnapatil opened #58 "Handling Identity endpoint-list using specified token"
Openstack allows to list the endpoints associated with a specified token using v2.0/tokens/​{tokenId}​/endpoints.
Though service-catalog is supported by JG, but JG fails when some other services like savanna tries to get endpoint-list using a specific token.

[2014-03-07 17:13] #57 closed, assigned to nobody

[2014-03-07 17:14] #52 closed, assigned to nobody

[2014-03-08 11:53] amol commented on #12
Should we consider writing a new SL driver (Ironic driver) interface over using PXE + IPMI? IMHO it would be better to provide new SL driver interface as, some of the PXE+IPMI parameters such as `ipmi_address` won't make sense in SL context and might confuse the user.

[2014-03-08 17:32] sudorandom commented on #12
I agree. It's probably be more appropriate to add hardware support in the nova driver. When I made this I really wasn't sure if the purposes of the two APIs matched up.

[2014-03-11 08:45] amol commented on #12
Would the following interface to SL Ironic driver be useful?

[code]

All of the parameters match the SL Python Client. Once provisioned user also gets IPMI address of the Baremetal from SL, which _may_ be used with PXE+IPMI Ironic driver.

The above command will not create any baremetal instance, the ironic node-deploy will create one (node-deploy is not support by ironic CLI we will have execute

[2014-03-17 16:52] ig0r opened #61 "SAN disks support"
SL API allows to [create a CCI with SAN disk](http://sldn.softlayer.com/reference/services/SoftLayer_Virtual_Guest/createObject) storage by setting `localDiskFlag` to false.

Now Jumpgate allows to create a CCI with a local disk only. It would be great to have SAN support as well.

[2014-03-20 04:54] amol commented on #10
Can you elaborate on this? I assume you mean just like OpenStack CLIs, when given with --debug flag gives all REST call it's making, we need to log SL requests sent for an OpenStack request received. Am I correct?

[2014-03-20 12:04] bodenr opened #63 "support for dynamic domain names on server boot"
In the current jumpgate impl, the domain name is always `jumpgate.com` as per: https://github.com/softlayer/jumpgate/blob/master/jumpgate/compute/drivers/sl/servers.py#L200

Clearly this is something that is slated to be updated given the 'TODO' in the code.

This task is to track such work.

A few ideas on how we might consider more dynamic fqdn on boot server:
- IMHO there should be a conf optio

[2014-03-20 15:09] sudorandom commented on #10
Sure. I updated the description inline.

[2014-03-20 15:59] sudorandom commented on #63
I like all of these solutions. The only one I'm uneasy about is having the server.name be the FQDN because it changes what name actually means from the point of view of the OpenStack API.

[2014-03-21 07:10] amol opened #64 "Proxy Config Setting for SL Client"
As the softlaye-python allowing user to specify proxy, the SL driver should allow this.

Related pull request: [allowing proxy](https://github.com/softlayer/softlayer-python/pull/293)

[2014-03-22 16:15] bodenr opened #67 "jumpgate requests fail with - unexpected keyword argument 'proxy'"
With the introduction of SL client support for proxy in jumpgate (https://github.com/softlayer/jumpgate/pull/65) the out of the box jumpgate does not work due to a backleveled version of SL py client getting installed.

When you send a jumpgate request you'll get:

[code]

The problem is that the softlayer py client installed via jumpgate's setup is backleveled and does not support the proxy kwarg

[2014-03-23 10:35] bodenr opened #68 "support for (glance) image detail"
I've been trying to get the openstack (horizon) dashboard to work with jumpgate.

As part of that effort we are missing the jumpgate support for 'show image' via glance client. As shown in the glance client here: https://github.com/openstack/python-glanceclient/blob/master/glanceclient/v1/images.py#L115  the following URI is used to get metadata about a single image:

[code]

The response to this

[2014-03-23 10:46] bodenr opened #69 "nova compute shows incorrect flavor for CCI server"
The jumpgate compute driver for nova is returning the incorrect flavor mapping on 'server show'.

For example I have the following CCI which I created through jumpgate (from the instance order info on SL web UI):

[code]

I created this server via nova / jumpgate with flavor 3 which corresponds to:

[code]

But when I show it via nova / jumpgate I get:

[code]

As you can see above, jumpgate incor

[2014-03-23 11:12] bodenr commented on #68
after further investigation it appears that jumpgate does support HEADing images.. the problem I'm having is that horizion is trying to HEAD on the base URI rather than the jumpgate URI.

For example a failed and successful request URI shown below:

[code]

[2014-03-23 11:12] #68 closed, assigned to nobody

[2014-03-23 22:36] sudorandom commented on #69
The flavor id is currently hard coded. Fixing this is one of the lingering action items defined in issue #27.

[2014-03-23 22:39] sudorandom commented on #67
Ah, I apologize for this. I completely overlooked this concern since I typically work off of master for both of these projects. I'll see about getting a minor release out for softlayer-python tomorrow since it's about time for it.

[2014-03-24 09:56] bodenr opened #71 "support configurable compute quotas"
Right now the jumpgate code has hardcoded quota-sets. See: https://github.com/softlayer/jumpgate/blob/master/jumpgate/compute/drivers/sl/quota_sets.py#L4

While I understand these defaults taken mimic those of nova's default quotas, in reality we need a more flexible means to set these quotas in jumpgate.

While it's entirely possible to (enhance) support setting quotas dynamically, jumpgates stat

[2014-03-24 13:04] bodenr opened #72 "jumpgate compute servers not honoring query params for marker & limit"
It does not appear that jumpgate's compute (server) driver is honoring the `marker` and `limit` params on a GET /servers call.

As per http://api.openstack.org/api-ref-compute-v2.html  a `GET v2/​{tenant_id}​/servers` should support a limit and marker as follows:

[code]

Based on the current jumpgate compute sl driver I do see some code for these around here: https://github.com/softlayer/jumpgate

[2014-03-27 03:03] rhodgin opened #75 "support keystone services-list function"
Please consider adding support for the list services function in the identity APIs. Aspects of OpenStack code base use this function to determine what services can be used. The **init**.py file in jumpgate/identity/ indicates that would be supported:

[code]

But when called it returns:
_Not Implemented (HTTP 501) (Request-ID: req-b2485312-b55a-11e3-a884-0654d7fc4b36)_

[2014-03-27 03:54] rhodgin commented on #5
Can floating IP support please be included in this analysis? It isn't clear to me how the OpenStack APIs around floating IPs would be supported by the SoftLayer subnets and portable IPs but these APIs can be called automatically during instance creation.

[2014-03-27 04:02] rhodgin opened #76 "Add support for cinder block storage"
Please consider adding support in jumpgate for the OpenStack APIs/functionality around block storage. Specifically the APIs for listing, creating, getting details, and deleting volumes.

[2014-03-27 04:23] rhodgin opened #77 "Add ability to set tags on viritual images"
OpenStack's image service, glance, supports APIs to set tags on images to differentiate  them (v2/images/​{image_id}​/tags/​{tag}​).  It looks like the SoftLayer API has a similar ability (SoftLayer_Virtual_Guest_Block_Device_Template_Group::setTags). Would you please consider enhancing the JumpGate API to support this functionality?

[2014-03-27 04:26] amol commented on #76
This will be useful feature to add to jumpgate. However, we also have written a [Cinder Driver ](https://github.com/openstack/cinder/blob/master/doc/source/devref/drivers.rst) (not jumpgate drivers) for SL iSCSI (under code review), which is compatible with Havana release. This driver sits inside the Cinder service and allows user to create/use storage [along with local/other storage](https://wiki

[2014-03-27 05:03] amol commented on #76
Once [iSCSI Manager](https://github.com/softlayer/softlayer-python/issues/282) (which we are working on) is completed then adding this feature would be simple.

[2014-03-27 12:59] bodenr commented on #67
@sudorandom  -- doesn't look like the latest softlayer py client got pushed to pypi yet https://pypi.python.org/pypi/SoftLayer  any idea when you plan to "submit" it?

[2014-03-27 13:00] beittenc commented on #67
We want to get the CCI upgrade code merged in before we do the 3.1 release since it's close to finished.

[2014-03-27 14:19] rhodgin commented on #76
Great, thanks for the update. When is the iSCSI Manager planned to be available?

[2014-03-28 00:49] bodenr opened #80 "support listing network extensions"
as you know, almost all the openstack apis permit a caller to list the extensions for a given service. we already have that support for example in the identity driver of jumpgate.

however we appear to be missing it for the network driver.

there are a number of client side tools that will query the extensions and fail if a 501 response is returned which is the case for network.

this issue is to

[2014-03-28 05:50] #64 closed, assigned to nobody

[2014-03-31 12:26] swapnil90 commented on #45
@bodenr :the CCI resize is implemented and am waiting for it to be merged in softlayer-client[1]
so upgrade/resize will support CPU and memory,
any thoughts on how should we proceed further on resize with respect to disk?
Can we let the user now for the time being as a note of some sort in doc block that disk will not be upgraded?[
1]https://github.com/softlayer/softlayer-python/pull/299

[2014-03-31 14:47] bodenr commented on #45
@swapnil90 that's great news about mem/cpu resize...

yes I think you guys could consider adding a note to the jumpgate compatibility matrix about whats supported and what's not from a resize perspective.. I was looking at the nova code / docs trying to see if there was a way to return info about extensions to indicate from an API perspective this wasn't supported, but it's not entirely clear to m

[2014-03-31 15:07] bodenr opened #81 "support setting default data center as conf option"
Jumpgate's current implementation from a compute server create perspective determines the SL DC to use by pulling the `availability_zone` value out of the body of a server create request. If this property is not set it appears a default of None is passed down to the SL py client and from there the San Jose DC is used by default.

Although I believe the best approach is to pull a dynamic value from

[2014-03-31 15:38] beittenc commented on #81
If no availability zone is specified, the API defaults to "first available". Currently that's set to sjc01 for most folks, but that could change in the future as new zones come online or sjc01 reaches capacity. My concern with setting a default in the jumpgate.conf like that is that there's no guarantee the specified data center is going to be available in the future. The "first available" will al

[2014-03-31 16:06] bodenr commented on #81
@beittenc valid argument... however I can still see scenarios where providers want to default the DC at the jumpgate layer for whatever reason and I'm not seeing why we'd want to prevent them from doing assuming backwards compatibility with 'first avail' (i.e. in the proposed approach here the `default_availability_zone` just not specified)... If the DC is not avail in the future I would assert it

[2014-04-01 08:11] bodenr commented on #67
Note to work around this issue do the following:

[code]

Now you can restart jumpgate and things should work:

[code]

[2014-04-01 19:03] markj-outworx opened #82 "image upload fails with a key error"
If you attempt to upload an image with the glance client, gunicorn (with logging at the debug level will report)
Unexpected Error
Traceback (most recent call last):
  File "api.py", line 96, in falcon.api.API.**call** (falcon/api.c:1635)
  File "api_helpers.py", line 262, in falcon.api_helpers._wrap_with_before.do_before (falcon/api_helpers.c:3405)
  File "api_helpers.py", line 262, in falcon.api_

[2014-04-01 21:10] sudorandom commented on #82
Thanks for the report. I believe this functionality is actually not quite done being implemented. The API call that glance is using appears to be entirely mocked out until we can determine what to do with it. That is being implemented here: #66, however it is just with the v2 version of the API, not with v1.

[2014-04-01 21:11] #6 closed, assigned to nobody

[2014-04-02 12:11] swapnil90 commented on #45
@bodenr : i had also looked into openstack API and such  for passing/giving info to user, but didnt find it either.
I had a query regarding disks mentioned in flavor, they are all local right and not SAN?

[2014-04-02 18:59] bodenr commented on #45
@swapnil90 - If I understand your question you are asking jumpgate only supports LOCAL disk right now? If so the answer (last time I checked) is only LOCAL disks are supported at the present moment..

See: https://github.com/softlayer/jumpgate/issues/27
and: https://github.com/softlayer/jumpgate/issues/61

[2014-04-02 19:35] bodenr commented on #67
@sudorandom @beittenc -- we need to consider getting this one fixed.. A number of ppl are hitting it when trying out jumpgate. Thanks

[2014-04-02 19:37] Neetuj commented on #67
I think i am hitting it too

Loading endpoint /network/v2.0/networks
Loading endpoint /network/v2.0/subnets
Loading endpoint /
Loading endpoint /network/v2.0/subnets
Loading endpoint /network/v2.0/subnets
Loading endpoint /v2.0/tokens
Loading endpoint /
Loading endpoint /
Loading endpoint /v2.0/tokens/{token_id}
Loading endpoint /v2.0/tokens
Loading endpoint /v2.0/tokens
Loading endpoint /v2.0/tok

[2014-04-02 19:39] beittenc commented on #67
As a temporary workaround, installing the SoftLayer bindings from master will address this issue.

pip install git+http://github.com/softlayer/softlayer-python --upgrade

[2014-04-02 19:40] bodenr commented on #67
@Neetuj  -- please see 2 comments back (above) -- I gave exact instructions on how to fix / workaround.

[2014-04-04 09:05] aparnapatil commented on #77
@rhodgin:
For supporting tagging functionality, Jumpgate API should handle
1. PUT         v2/images/​{image_id}​/tags/​{tag}  and
2. DELETE  v2/images/​{image_id}​/tags/​{tag}

we can set Tags using  SoftLayer_Virtual_Guest_Block_Device_Template_Group::setTags(). However , there is no such method for deleting specific tag on Softlayer side.
In this case, we can reuse setTags() as -
1. Retrieve tag

[2014-04-04 09:20] #58 closed, assigned to sudorandom

[2014-04-04 19:26] Neetuj commented on #27
I am working on it

[2014-04-08 09:35] bodenr opened #87 "URGENT: hashed flavor IDs break many things flavor releated"
With the latest jumpgate code from master, a number of functions are broken from a user perspective such as:
- `nova flavor-show`
- `nova boot`
- etc.

It appears the issue is rooted here: https://github.com/softlayer/jumpgate/commit/29e17a402d35cde37074bedfb1487a00fe30deb1

For example if you try to boot a server you'll end up with a jumgpate error like:

[code]

trying to show a flavor with nova

[2014-04-08 10:23] bodenr commented on #87
@Neetuj @sudorandom @beittenc as you can see in the above description, flavor IDs must remain int based otherwise many things break both on the client / consumer side as well as in jumpgate itself.

I would try to fix this one up, but it's not clear to me where you guys are going with these hashed IDs. Regardless this issue breaks a lot of function in jumpgate from a compute perspective and hence

[2014-04-08 14:19] Neetuj commented on #87
@bodenr sorry the whole flavors change got checked in by mistake..i will revert it and then get it reviewed and make sure none of the flavor related commands are broken ..
I will talk to Nathan and Kevin about the hashed ID .. i thought this is what we wanted to do ..from the comments in issue #27

[2014-04-08 14:27] sudorandom commented on #87
@bodenr @Neetuj I already reverted the change here: https://github.com/softlayer/jumpgate/commit/07dbbf0693cc721ac1b7d309ef6201d5cbe82c5d

The change wasn't 100% complete. @bodenr, I think you've pointed out the exact 2 places where the current implementation is lacking.

I'm closing this issue. Work on this will be continued in #27 and in the related pull request after it's made.

[2014-04-08 14:27] #87 closed, assigned to nobody

[2014-04-08 14:30] bodenr commented on #87
@sudorandom  + @Neetuj  thanks.

regarding the flavor IDs being "int compatible"... based on the OpenStack API docs (http://api.openstack.org/api-ref-compute-v2.html) it does appear flavor IDs are strings and thus should not have to be compatible with something like `int(flavor.id)` but there are a few places in openstack consumer code that assumes they are.

therefore if you choose to use to use

[2014-04-08 14:37] sudorandom commented on #87
@bodenr is there an example where there's consumer code which assumes that flavor id is an int? The that you pasted above is coming from `jumpgate/compute/drivers/sl/servers.py` which was making that assumption because that's an assumption that jumpgate was able to make for itself but I'm not aware of any OpenStack clients/projects that make this assumption as well.

[2014-04-09 14:59] lennonon commented on #67
My jumpgate works with your advice, thank you very much

[2014-04-10 21:09] Neetuj commented on #71
I will work on it.  Basically move the hardcoded data from quota_sets.py to config file right?

[2014-04-11 11:35] bodenr commented on #71
@Neetuj -- That seems like the lowest hanging fruit for this impl given jumpgate does not have persistence... It might be worth considering if we can do this per tenant like openstack supports... maybe something like:

[code]

where `<tenant_id>` is the tenant for the quota... if we went this route probable also need to consider a way to set a global default quota set to apply to all tenants not e

[2014-04-11 18:43] Neetuj commented on #71
@bodenr  did i get this correct :-
basically we want
1) to move this hard coded data to config files jumpgate.conf
2) this new data in jumpgate.conf  and the keys should include the tenant-id information. Some function in OSQuotaSetsV2  should set the quota values in config
3) when OSQuotaSetsV2 on_get  is called  the quota setting for that specific tenant should be returned.

if so then i have so

[2014-04-11 20:20] sudorandom commented on #71
`where will the function to set config values be called from ?`
I don't understand this question.

The config values will just be set in the config. on_get will read from the config for the tenant specific limits.

`Will all tenant-id quota sets be set to same values(given below) to start with? (and then customized by user later?)`

Jumpgate has no database

[2014-04-14 09:04] bodenr commented on #77
@beittenc @sudorandom -- It appears this issue was also proposed here https://github.com/softlayer/jumpgate/issues/51 and the suggestion made was that an internal request would need to be created to support metadata on SL image templates. Has an internal request been discussed to support image metadata? If not how would we go about moving forward with something like that?

Note -- another (less th

[2014-04-15 20:29] sudorandom commented on #61
Closed via #88

[2014-04-15 20:29] #61 closed, assigned to nobody

[2014-04-15 20:33] sudorandom commented on #71
Closed via #88. This doesn't yet have tenant-specific quotas defined in the config. That can be handled in another issue if it's needed.

[2014-04-15 20:33] #71 closed, assigned to nobody

[2014-04-16 20:56] Neetuj commented on #17
i can try that ..  some pointers on where to start looking?

[2014-04-17 02:49] wpf710 opened #89 "Invalid image&network endpoints url in identity.templates"
## current configuration for the image & network configurations in etc/identity.templates as below

catalog.RegionOne.image.name = Image Service
catalog.RegionOne.image.publicURL = http://localhost:5000/image/v2
catalog.RegionOne.image.privateURL = http://localhost:5000/image/v2
catalog.RegionOne.image.adminURL = http://localhost:5000/image/v2

catalog.RegionOne.network.name = Image Service
catalo

[2014-04-17 03:06] wpf710 commented on #80
I also run into such issue when I trying to make Openstack Horizon work with Jumpgate, and I have to modify the code manually to add the network/v2.0/extensions support just with the empty list,  I may submit a pull request as the stub code since I don't know what SoftLayer will return

[2014-04-17 13:45] beittenc commented on #89
I'm not sure why all the image changes would be needed. We're targeting the v2 image API and those URLs work last we tested with the Glance CLI. What problems are you running into with images?:

[2014-04-18 02:26] wpf710 commented on #89
When I post tokens againt /v2.0/tokens,  it will return the service catalog based on those configurations, for example ,
{
    "endpoints": [{
        "adminURL": "http://localhost:5000/image/v2",
        "region": "RegionOne",
        "privateURL": "http://localhost:5000/image/v2",
        "publicURL": "http://localhost:5000/image/v2"
    }],
    "type": "image",
    "name": "Image Service",

[2014-04-18 05:59] wpf710 opened #91 "network id not return as string"
networks should have their id property returned as a string. see sample network response here: http://api.openstack.org/api-ref-networking.html

however in the current jumpgate code its returned as a number...
def format_network(vlan):
    return {
        'status': 'ACTIVE',
        'subnets': [str(subnet['id']) for subnet in vlan['subnets']],
        'admin_state_up': True,
        'name': vlan.

[2014-04-18 06:37] wpf710 opened #92 "SLAuthDriver did not work with the auth.token.id"
When working with the Horizon + jumpgate + Softlayer,  after Login , some openstack python-client will post /v2.0/tokens again with the payload of tokens, such as
{'auth':{
        'token':{
              'id':'blalbalbalblabla......bla'
          }
    }
}

from the current code,  we can extract the 'credential' from the token which be regarded as the user password, but actually  it's the auth_to

[2014-04-24 15:10] thomasspatzier opened #94 "glance image-list never returns but goes into endless loop"
I just did a 'glance image-list' with python-glanceclient against jumpgate with latest code from github. The CLI call never returned but seemed to have looped in jumpgate code. I re-occuring messages in the jumpgate worker log.

I did a 'glance index' as another test and that looped printing image formation of a set of images endlessly. Could it be that paging of the glance GET API is not handled

[2014-04-24 16:25] sudorandom commented on #94
That's curious. I'll take a look at it. Thanks for submitting the issue.

[2014-04-24 16:36] thomasspatzier commented on #94
Ok, thanks. Let me know if you need any information from me.

[2014-04-24 16:37] sudorandom commented on #94
Yep, glance image-list uses the 'marker' parameter and the relevant call in Jumpgate doesn't respect that parameter yet.

I'll work on getting this issue fixed. `nova image-list` doesn't seem to have this issue.

[2014-04-24 17:01] thomasspatzier commented on #94
Right, I can confirm that 'nova image-list' worded for me.

[2014-04-24 17:08] #94 closed, assigned to nobody

[2014-04-24 19:04] #91 closed, assigned to nobody

[2014-04-25 16:02] Neetuj commented on #72
I think the limit is not working because its hardcoded to None https://github.com/softlayer/jumpgate/blob/master/jumpgate/compute/drivers/sl/servers.py#L275

[2014-04-25 16:04] beittenc commented on #72
@Neetuj The limit is set over the following three lines. If there is a limit parameter in the request, it will attempt to cast it to an integer. That's how the limit is actually being set.

[2014-04-25 16:12] Neetuj commented on #72
@beittenc  you are right .. its is set correctly and i verified it works by testing it  ..'http://localhost:5000/compute/v2/13193/servers/detail?limit=1'

[2014-04-25 16:12] sudorandom commented on #72
@Neetuj the first step to solving any bug is to replicate the issue. I'm unable to do that. It appears that both limit and marker are applied. At least with the /compute/v2/ACCOUNT_ID/servers/detail endpoint.

[2014-04-25 16:14] Neetuj commented on #72
i was able to test limit .. but not the marker

[2014-04-25 16:58] Neetuj commented on #72
OK tested it limit and marker both are working .. BTW if i give a invalid marker UUID (say 1) it does not complain

[2014-04-29 14:15] #10 closed, assigned to nobody

[2014-04-29 14:18] sudorandom commented on #72
I'm going to go ahead and close this until we can reproduce the problem.

[2014-04-29 14:18] #72 closed, assigned to nobody

[2014-04-29 14:19] sudorandom opened #97 "R3 2014Q2"
Overall Goals:
- Basic iSCSI support through the cinder API (#76)
- Mapping of running instances to flavor IDs (#27)
- Better document supported endpoints and caveats to the support
- Make auth driver verify existing tokens (#92)

[2014-04-29 14:20] sudorandom commented on #97
This should have been a milestone instead of an issue. Closing.

The github UI for milestones is a little unintuitive...

[2014-04-29 14:20] #97 closed, assigned to nobody

[2014-04-29 14:22] #67 closed, assigned to nobody

[2014-04-29 14:22] #46 closed, assigned to nobody

[2014-05-01 17:16] ajiang38740 opened #98 "nova server details always return hard coded flavor id '1'"
Saw issue #87 and #27  regarding flavor discussion.

I am not sure how this problem fits into those 2 problems. The issue I ran into
is nova boot with --flavor-id will create a CCI VS with some flavor. But when you show
the server details, it is always return flavor 1, which is hardcoded.

What I have done is to save the flavor id in the userData json structure that is
passed to the create_instanc

[2014-05-02 20:58] ajiang38740 commented on #98
With storing the flavor id in the userData of VS. I can show the flavor properly:

+-----------------------------+-------------------------------------------------------------+
| Property                    | Value                                                       |
+-----------------------------+-------------------------------------------------------------+
| OS-EXT-AZ:availability_zone | 138

[2014-05-03 01:39] sudorandom commented on #98
@ajiang38740 This looks like an acceptable solution to me. Of course, this won't handle virtual servers created before this change or virtual servers not created by Jumpgate but that can be handled a bit later.

+1, this is a nice short term approach

[2014-05-06 20:11] ajiang38740 commented on #98
You got a good point. For the virtual servers created before this change or not by jumpgate, as long as it fits the hardcoded flavor list, I can update the VS instance's metadata to put in the flavor id if nova show <server> is called(for the first time).

There is one problem with this above approach:
The cpu/memory/disk permutation is 10x10x2 right now with the way CCI instance can be ordered. A

[2014-05-06 20:29] ajiang38740 commented on #98
Actually, there is a private core vs non private and need to deal with local vs san disks. Here is the refined version of this flavorid

P-C-M-A-D ,  P private core or not.  C is number of cores, M is GB of memory, A attachment('l' for local, 's' for san) and D is the GB of first disks.

For a flavor that has 4 private cores 64 GB memory and 100GB san attached disk, the flavor will be
like this:
p

[2014-05-06 20:29] ajiang38740 commented on #98
The '-' dash is just easy for python split().

[2014-05-06 20:35] ajiang38740 commented on #98
So when nova flavor-list is called, the flavor code will generate the full list of permutation based on
the above formula and this flavor string can be used for CCI instance creation. And with this dynamic
flavor id generation, there is no need to save the flavor anymore in the metadata.

Of course this approach is based on the assumption CCI instance cpu/memory/disk is always a limited list of pr

[2014-05-06 20:54] sudorandom commented on #98
You should re-read the discussion that was had between Boden and I in issue #27. We were led down this path and I believe the preferred conclusion was to have a base-64 encoded parsable string which represents each option (CPU, memory, disk size/type, etc). The only hitch with that plan is that some OpenStack projects (like trove) treat flavor ids as integers. I believe that to be a bug in those p

[2014-05-06 22:36] ajiang38740 commented on #98
Thanks for point that out.  I think my idea is the same as what you have planned in #27. And Trove
is broken from flavor perspective:
https://github.com/openstack/trove/blob/d745a60c351473ac2bd565e25041d65a350f61e3/trove/flavor/views.py

[code]

That self.flavor is a dict got from nova client by looking up the nova flavor id.

Any non-predefined openstack flavor may break this Trove flavor functio

[2014-05-06 22:41] ajiang38740 commented on #98
In order to do nova flavor-list, just need to predefine the list of possible choices of cpus , memory and disks and generate permutation on the fly.

[2014-05-07 19:46] #92 closed, assigned to nobody

[2014-05-11 20:02] #16 closed, assigned to caleorourke

[2014-05-14 15:29] sudorandom opened #100 "Quantify How Much of Defcore Jumpgate supports"
Defcore is a project aimed to define what the core functionality is for each sub-feature within openstack. This issue is quantify what and how much Jumpgate can do and possibly modify the tempest runner to use the defcore definitions.

https://github.com/stackforge/refstack/tree/master/defcore

[2014-05-14 19:17] sudorandom commented on #28
A couple more notes on this, since this _should_ be the easiest API to "emulate" since the only emulation needed is keystone but it turns out not to be that simple. The issue here is that jumpgate tokens aren't the same thing as SL Object Storage tokens. Additionally, auth tokens do not work across different SL Object Storage clusters so both the specific SL Object Storage and which datacenter (or

[2014-05-15 02:10] sudorandom commented on #81
I'll +1 this. This seems like a pretty harmless feature.

[2014-05-15 13:03] #89 closed, assigned to nobody

[2014-05-15 19:24] Neetuj opened #103 "EndpointNotFound for "nova volume""
volume endpoints are not loading up correctly ...
 “nova --debug volume-list”

 results into :-

DEBUG (shell:792)
Traceback (most recent call last):
  File "/opt/stack/python-novaclient/novaclient/shell.py", line 789, in main
    OpenStackComputeShell().main(argv)
  File "/opt/stack/python-novaclient/novaclient/shell.py", line 693, in main
    self.cs.authenticate()
  File "/opt/stack/python-nova

[2014-05-15 19:25] Neetuj commented on #103
upon further investigation is seems like its because block_storage stills exists in the project ( i think it was supposed to be replaces by volume) .. am working on replacing it to see if that fixes it

[2014-05-15 19:26] Neetuj commented on #103
https://github.com/softlayer/jumpgate/search?q=block_storage&type=Code

[2014-05-15 19:28] sudorandom commented on #103
@Neetuj  This is likely a duplicate of: #76

There's essentially zero support for volumes/block storage at this time.

[2014-05-15 19:28] #103 closed, assigned to nobody

[2014-05-15 19:31] sudorandom commented on #103
@Neetuj on that note, if the endpoint name needs to change, make sure #76 is mentioned so we can track that work there.

[2014-05-15 19:37] Neetuj commented on #103
got it !

[2014-05-15 19:38] sudorandom commented on #103
@Neetuj It's perfectly valid to work on. I just didn't want duplicate issues. Sorry for the confusion.

[2014-05-15 19:49] sudorandom commented on #5
@rhodgin +1 on that, sorry for the delay in response and movement on this.

I'm not sure how it will all map at the moment. I'm aware of **portable subnets** , which might map to floating ip pools (I'm not familiar enough with that concept) and **global ips** which are globally assignable ip addresses.

References:
- http://knowledgelayer.softlayer.com/articles/static-and-portable-ip-blocks
- http

[2014-05-15 19:53] sudorandom commented on #98
@ajiang38740 It's become clear to me that (API-exposed) flavor ids are strings and should be able to be treated as such and that other projects who use nova that can't work with them as strings treat them as bugs. I'd prefer that the flavors not be serialized into an integer due to the limited amount of space for future augmentations of flavors that nova can/is doing.

[2014-05-15 20:56] mjfork commented on #5
Each of portable private subnets, portable public subnets, and global IPs are examples of floating IP pools, however they differ from OpenStack in that they have a limited scope they apply to (machines on the same VLAN).   In OpenStack, those IPs could be used anywhere.

[2014-05-15 21:04] sudorandom commented on #5
(whoops in regard to closing this issue)

@mjfork Am I wrong in thinking that SoftLayer's global ips can be assigned to a machine on any VLAN? I just tested it out and it seems to be assignable to any device on the SoftLayer network.

[2014-05-15 21:07] briancline commented on #5
Portables can't change the VLANs to which they point on the fly (maybe not
without a ticket anyway). Global IPs can, though.

[2014-05-15 21:22] sudorandom commented on #5
Just more notes:
- SoftLayer's DNS API seems pretty matchable to the os-floating-ip-dns extension for nova v2 API - There doesn't seem like a nova v3 or neutron equivalent at the moment. I would have thought DNS would be managed via neutron. I'm probably missing something with this. http://developer.openstack.org/api-ref-compute-v2-ext.html#ext-os-floating-ip-dns

[2014-05-22 01:56] sudorandom opened #107 "Controlled error when RAM not divisible by 1024"
Issue brought up inline: https://github.com/softlayer/jumpgate/commit/3a58c53079d044cae5ad6e0fc0cf0758681cf574#commitcomment-6405937

[2014-06-13 16:36] Neetuj commented on #81
am working on it

[2014-06-24 20:39] jimlindeman commented on #5
For Openstack, DNS would be managed through the separate "Designate" project that is in StackForge.  https://github.com/stackforge/designate

[2014-07-07 19:43] bodenr commented on #81
@sudorandom @Neetuj  -- looking at the code for this one in servers.py (https://github.com/softlayer/jumpgate/blob/master/jumpgate/compute/drivers/sl/servers.py#L213) which currently looks like this:

[code]

based on the chat above with @beittenc the intention was still to allow backwards compatibility for not specifying a default AZ and thus not passing one down to the SL python client.. The res

[2014-07-07 19:46] sudorandom commented on #81
@bodenr this is a result of a stealth change that made the first available datacenter option is not available and an explicit datacenter choice required on the SoftLayer API side.

[2014-07-07 20:40] ghost opened #125 "Unbound local variable 'proxy' referenced before assignment error when issuing any api request error"
After getting the latest clone, seeing the following errors when issuing any API.

 File "/home/andrew/error/jumpgate/jumpgate/identity/drivers/sl/tokens.py", line 170, in on_post
    auth = identity.auth_driver().authenticate(credentials)
  File "/home/andrew/error/jumpgate/jumpgate/identity/drivers/sl/tokens.py", line 116, in authenticate
    proxy=proxy)
UnboundLocalError: local variable 'proxy

[2014-07-07 21:04] ghost commented on #125
Addressed in #126

[2014-07-07 21:04] #125 closed, assigned to nobody

[2014-07-11 17:53] jimlindeman commented on #76
The currently supported block storage via Jumpgate is "portable storage" which supports attach/detech, but not attach at boot (via --block-device-mapping).

FYI, the Cinder driver here:
https://github.com/softlayer/softlayer-cinder-driver
is intended for private Openstack deploys on top of Softlayer CCI/baremetal to utilize Softlayer's iSCSI (for a single account/datacenter) as the backend for its

[2014-07-11 18:29] sudorandom commented on #76
@jimlindeman yeah, I'd think so. I'll go ahead and close this. This can be re-opened until there's an objection.

[2014-07-11 18:29] #76 closed, assigned to nobody

[2014-07-11 19:50] jimlindeman commented on #5
I think this can be closed out, addressed by issue #117 and #132 (once that's merged)

[2014-07-11 20:02] jimlindeman opened #134 "Use of limit & marker parameters to glance list-images is broken"
The logic in ImagesV2.on_get (in image/driver/sl/images.py) for handling limit & marker is fundamentally broken, primarily because the marker logic tries to set an inequality-based filter on the "globalIdentifier" but then fails to sort the results by that field.  Because the results are not sorted by that inequality's field, certain images get reported multiple times and other images get skipped.

[2014-07-11 20:14] jimlindeman opened #135 "Current 2000 byte limit in userdata is too small"
While this is not a Jumpgate issue directly (would be fixed in Softlayer database/APIs), we are tracking this here so people can be aware of this limitation and when it is resolved.

[2014-07-16 15:16] sudorandom opened #140 "Tempest"
This is an issue to get tempest working again with Jumpgate. Several changes in tempest have caused tempest to no longer work with the current whitelist, example config and run_tempest_tests.py script.

This issue should address the following:
- Getting tempest to work again against jumpgate .
- Documenting what it takes to get tempest to work (environment, config values, etc)
- (optional) Create

[2014-07-16 20:06] sudorandom commented on #140
Note: At the moment, the tempest takes quite a long time with Jumpgate, so plugging this into Travis-ci to happen every commit of a pull request is probably not wise until the . Running it daily or weekly would be better. This would then report the status through a web page or opening an issue on github.

[2014-07-17 14:58] imkarrer commented on #140
I have created a pull request #141 to start addressing this issue.  Please review.

[2014-07-29 19:38] bodenr opened #145 "not all compute servers return image json ref"
As per the openstack compute v2 docs, a GET on /v2/​{tenant_id}​/servers/​{server_id}​ should return a server structure which (among other things) contains a sub-object for the `image`.

For example from http://developer.openstack.org/api-ref-compute-v2.html

[code]

Currently in jumpgate servers we do "try" to return this if the server was created from an image (see: https://github.com/softlayer/

[2014-07-29 19:39] bodenr commented on #145
@sudorandom @underscorephil -- are you guys aware of any way to mitigate this issue (see description). I've been poking around, but have yet to find a solution.

Please advise.

[2014-07-29 20:01] underscorephil commented on #145
@bodenr - When a VM is created without a reference image, the operating system is seen as a SoftLayer_Item_Price which does not have a GUID similar to the Block_Device_Template_Group objects. The closest thing I can think of would be the operatingSystem or operatingSystemReferenceCode properties off of SoftLayer_Virtual_Guest.

[2014-07-29 20:21] bodenr commented on #145
@underscorephil thanks for the prompt response... I've been playing with the `Virtual_Guest` masks; in particular the `softwareLicense` and `operatingSystemReferenceCode`, snips below:

[code]

I'm wondering if we can't generate a GUID based on the ref code to use the GUID and begin to expose these as images.

Have you or @sudorandom put any thought into this before? If so please ref me to any det

[2014-07-30 13:47] jimlindeman commented on #145
Currently our "list images" API emulation in Jumpgate does a query of public & private images.  Would it then make sense for Jumpgate to list a third type of image in the listing where we describe the base OS images and perhaps generate a GUID that is a concatenation (with some prefix) of the softwareDescriptionId & 'id' fields.   We could then better resolve the case described by:
https://github.

[2014-07-31 20:25] jimlindeman commented on #40
I believe this is resolved by Issue #132

[2014-07-31 20:25] #40 closed, assigned to nobody

[2014-07-31 20:41] jimlindeman commented on #27
The flavors are now always using SAN and not local (to support portable-storage based volumes) and are defined in the etc/flavor_list.json, as part of the code from issue #131 .  However, that change does not address the ability to do dynamic flavor creation from an API standpoint, and it assumes the Jumpgate used to deploy the VM is the same as the one reading the flavor from the VM, or else the

[2014-07-31 20:41] #27 closed, assigned to sudorandom

[2014-07-31 20:43] jimlindeman commented on #69
This has been addressed by Issue #138

[2014-07-31 20:43] #69 closed, assigned to nobody

[2014-07-31 20:45] #5 closed, assigned to nobody

[2014-07-31 20:56] jimlindeman commented on #63
The current code is a solution for a single-tenant jumpgate environment as the default domain-name is now settable in the etc/jumpate.conf.  However, it is not suitable for multi-tenant environment when two different tenants (or the same tenant) want to use a different domain name.  Will transfer this to the next milestone so that can be tracked.

[2014-07-31 21:18] jimlindeman commented on #75
I believe this was resolved with Issue #108

[2014-07-31 21:18] #75 closed, assigned to nobody

[2014-08-07 19:54] jimlindeman commented on #134
This is resolved by changes in issue #146

[2014-08-07 19:54] #134 closed, assigned to nobody

[2014-08-12 19:48] sudorandom opened #148 "Jumpgate User Agent with the SoftLayer Client"
Currently, the user agent that Jumpgate emits when talking to SoftLayer's API is that of the SoftLayer bindings. This issue is to make the SoftLayer client in Jumpgate use a user agent specific to Jumpgate.

The work has already been done for softlayer-python to enabled custom user agents: https://github.com/softlayer/softlayer-python/pull/366

[2014-09-03 16:55] zhiyanliu commented on #135
Is there any update/progress on this issue?

[2014-09-04 05:21] zhiyanliu commented on #148
According to the upstream change [0] has been merged, I'd like to address this issue in jumpgate after that change get released with softlayer-python.

@sudorandom Do you think we could add a new option for user-agent in jumpgate like proxy config?

[0] https://github.com/softlayer/softlayer-python/commit/c926ec2fa23f6177f5a5e2004b637f160416d006

[2014-09-05 06:19] zhiyanliu commented on #135
IFY, the user-data length limitation in OpenStack/Nova is 64KB: https://github.com/openstack/nova/blob/master/nova/compute/api.py#L121

[2014-09-10 02:15] zhiyanliu commented on #135
According to the latest response of my SL ticket, the manager of customer support team told me they have escalated this request to the proper team that will look over this feature request and will give it the proper attention. But I was told there's no guarantee when or if it will get implemented on a future release as well. So I think it will be better if SL folks could help push this a little bi

[2014-09-10 02:16] zhiyanliu commented on #135
IFY, the SL ticket No. is 12241016

[2014-10-17 03:11] amwright opened #156 "Small typo in developer guide"
Forgive me as I'm a newbie, and trying to learn.  I'm following the developer guide and found it wouldn't work.  The bug is in the section defining the **init.py** for the custom identity driver.

Code currently says:
from .tokens import TokensV2

def setup_routes(app, disp):
    disp.set_handler('v2_tokens', TokensV2())

I think it's missing the app parameter in TokensV2, should be:
from .tokens

[2014-12-10 16:55] iMilnb opened #164 "HTTP 401 when logging into horizon"
Hi,

I followed the fabulous documentation written [here](http://bodenr.blogspot.fr/2014/03/managing-openstack-softlayer-resources.html) and successfully setup a Jumpgate server which works perfectly with openstack client command lines. Pushing a bit further, I am facing HTTP 401 errors when trying to login to horizon, setup as the previous link highlights. Here are the traces:

From _horizon_:

[

[2015-01-19 14:29] hairyhenderson opened #165 "How do I use this with SoftLayer?"
Maybe I'm missing a piece of the puzzle, but is Jumpgate deployed inside SoftLayer? Is there a way, as a SoftLayer customer, that I can use the OpenStack `nova` command to e.g. bring up VMs?

I suppose what I'm looking for is some kind of equivalent to the openrc file that I can download from an OpenStack interface that helps set `OS_AUTH_URL`, `OS_TENANT_ID`, etc...

Or am I way off base and not

[2015-01-19 14:37] jimlindeman commented on #165
Jumpgate sets up a REST server that imitates Openstack Keystone.  So set the OS_AUTH_URL to point to the URL where you are running Jumpgate.  The OS_TENANT_ID is your Softlayer account#, the OS_USERNAME is the softlayer user-name & password in the OS_PASSWORD field (might have spelling of those fields wrong).

[2015-01-19 14:58] hairyhenderson commented on #165
@jimlindeman I suppose I assumed that SoftLayer was running Jumpgate somewhere already in some publicly-accessible spot. Is there a reason they're not?

[2015-01-19 16:44] jimlindeman commented on #165
To do that, they would need to run it in a cluster behind a load-balancer and be able to track the health of the VMs & processes in that cluster (stuff that Netflix-OSS tries to deal with).  So for now, its only intended to be run on a SoftLayer user's own local infrastructure, as I'm not aware it does https in the keystone emulation yet.

[2015-01-19 22:15] hairyhenderson commented on #165
Ok, I see. Maybe this can be made a little more clear in the README.md or docs?

Thanks!

[2015-01-28 17:29] Neetuj opened #166 "jumpgate still referring to CCIManager (which was changed in SLAPI to VSmanager)"
~/office/jumpgate (master) > nova availability-zone-list
REQ: GET /v2.0  {} [ReqId: req-c05c26a4-a712-11e4-b12d-8851fb5174fe]
UNKNOWN PATH: GET /v2.0
RESP: GET /v2.0  501 Not Implemented [ReqId: req-c05c26a4-a712-11e4-b12d-8851fb5174fe]
"127.0.0.1 - - [28/Jan/2015:11:26:10] "GET /v2.0 HTTP/1.1" 501 95 "-" "python-keystoneclient"
No handlers could be found for logger "keystoneclient.auth.identity.g

[2015-01-28 19:24] Neetuj commented on #166
#167

[2015-04-07 17:29] clstokes commented on #165
I'd also add that it would be great to see a working example in the README of using the OpenStack CLI tools with Jumpgate. As a new user to SoftLayer/OpenStack, I'm unsure of the various `--bypass-url`, `--os-auth-url`, `--os-tenant-id`, etc. nova CLI arguments that are needed to make this work.

[2015-04-22 14:46] clstokes commented on #80
This issue was to milestones in 2014, but the issue itself is still open. Is this still an open bug or has it been resolved?

[2015-04-22 22:43] jimlindeman commented on #80
At this point, its not clear if there will be any more active development on Jumpgate, so ignore any milestone settings for this project.  IBM/Softlayer's management needs to reassess if this is a github project they want to keep actively maintaining.

[2015-05-15 18:35] kbroughton opened #169 "ValueError: The URI template for this route conflicts with another route's template."
Following the jumpgate getting started guide
I had to apt-get install gunicorn python-devel

After that I edited jumpgate.conf

admin_token = kbroughton3
secret_key = my_sl_api_key

[code]

possibly related to?
https://github.com/falconry/falcon/issues/535

[2015-05-20 14:28] syallapr commented on #169
Were you able to fix this ? Am facing the same issue!

[2015-05-22 17:30] kbroughton commented on #169
nothing so far

[2015-05-24 07:17] wpf710 opened #170 "OSError [Error 29] Illegal seek when runing with Openstack"
I do not have a softlayer env yet, so run jumpgate againt openstack to test somthing as below:

1 openstack devstack setup
2 git clone jumpgate
3 modify the etc/jumpgate.conf by changing all the 'drivers.sl' to 'drivers.openstack', and also the endpoints for openstack service.
4 run jumpgate with the ./test_server.sh and ,it listen on 8000 port
5 curl -i http://keystone.openstack.addr:5000/ ,  it'

[2015-05-24 10:25] wpf710 commented on #170
and with debugging , the jumpgate.common.openstack._standard_responder() had already get the  content and status code from openstack keystone.

[2015-05-28 09:50] #170 closed, assigned to nobody

[2015-07-02 11:09] luckyvega commented on #169
I met this issue, too. Installing falcon with version 0.1.8 can solve this problem. It seems that jumpgate is not compatible with the newest falcon.